body{
  padding: 25px;
  background-color: #FFF0F5;
  
}
.title {
	color: #5C6AC4;
}
.container {
  border: solid 0.5px;
 
  min-height: 20vh;
  min-width: 40vh;
  border-radius: 10px;
 background-color:/*#F5F5F5 */ #F8F8FF;
 box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
 
}
#resultarea{
  display:flex;
 flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 10px;
  
}
#human img{
  width:10vh;
  height: 10vh;
  transform: rotate(90deg) rotateY(180deg);
  
}
#computer img{
  width:10vh;
  height: 10vh;
  transform: rotate(-90deg);
}
#result{
  display:flex;
  text-align: center;
 justify-content: center;
 justify-content: space-around;
 min-height: 20vh;
 min-height: 10vh;
  
}
#optionarea{
  display:flex;

  flex-direction: row;

  text-align: center;
  justify-content: center;
  justify-content: space-around;
  min-height: 30vh;
  flex-direction: end;
 
}
#optionarea img{
  width:10vh;
opacity:0.3;
  height: 10vh;
}
#optionarea img:hover{
  opacity:1;
}
.container{
  display: flex;
  flex-direction: column;
}